.game-window {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2em 0;
}

.icon-border{
  border: 0.3rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(190deg, var(--button-highlight) 25%, var(--button-lowlight) 100%);;
}
.icon-border-inactive {
  border: 0.3em solid var(--mid-gold);
}